
<ion-card>  
  <ion-item>  
      <ion-icon name="close" class="modal-close-icon" (click)="closeDialog($event)">Close</ion-icon>
  </ion-item>
  <ion-item>
    <ion-text class="default-tittle">
        Error Data
    </ion-text>
  </ion-item>
</ion-card>

  <ion-item>
    <ion-text class="default-warrning" color="danger">
        * The intervals must be integers
    </ion-text>
  </ion-item>
  <ion-item>
    <ion-text class="default-warrning" color="danger">
        * Both values must be positives 
    </ion-text>
  </ion-item>
  <ion-item>
    <ion-text class="default-warrning" color="danger">
        * The final value must greater than inital value 
    </ion-text>
  </ion-item>


